@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    
}
:root {
    --orange-light: #FFB74D;
    --orange-main: #FF9800;
    --orange-dark: #F57C00;
    --white: #FFFFFF;
    --gray-light: #F5F5F5;
    --gray-dark: #333333;
    --lilas: #462B72;
}

header {
    background-color:  #00a8ff;/*#462B72;*/
    color: var(--orange-main);
    display: flex; 
    flex-flow: column nowrap; /*em linha sem quebra*/     
}

html,body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-flow: column nowrap;
        
}

header > img {
    border: 1px dotted black;
    align-self: center; /*alinhamento consid o cross-assis*/ 
    margin: 20px;
    
     
}
.container > h1 {
    border: 1px dotted rgba(0, 0, 0, 0.671);
    align-self: center;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.671);
} 

.container > p {
    border: 1px dotted black; 
    text-align: center;
    color: white;
    font-family: "Open Sans", serif;
    font-size: 2.3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.671);
    margin: 20px;    
}
    
nav {
    background-color:  white;
    border: 1px dotted black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}  

nav > a {
    color: var(--orange-dark);
    text-decoration: none;
    font-weight:bolder;
    font-size: 1.3em;
}
.fa-whatsapp {
    color: green;
    font-weight: 
    
    
}
main {
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
    color:#462B72;
    margin: 10px;
    
}


.itensprincipal {
    display: flex;
    flex-flow: column wrap;   
    width: 100vw;
}


main > h2 {
    align-self: flex-start;
    color: black;
    margin: 10px;
        
}

section {

    background-color: var(--gray-light);
    border: 1px dotted black;  
    border-radius: 8px;
    margin: 10px; 
    width: 450px;
    height: 230px;
    display: flex;
    flex-flow: column nowrap;
   */
}
section > h2 {
    text-align: center;
    margin-bottom: 10px;
}
section > p {
    color: black;
    font-size: 1.5em;
    line-height: 1cm;
    text-align: justify;
    flex-shrink: 1;
    flex-grow: 1;
    
    
    
    
    
    
    
    
    
    
    

    
}